@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

:root {
  --primary: #ff5419;
  --background-dark: #121212;
  --background-color: #fff;
  --background-light: #f1f1f1;
  --text-light: #e1e1e1;
  --text-dark: #303030;
  --text-black: #000;
  --border-lightgray: #e1e1e1;
  --border: 0 0% 92.20%;
  --border-light: #444;
  --border-dark: #222;
  --transparent: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scroll-snap-type: proximity;
    border-color: hsl(var(--border));
    scrollbar-color: var(--scrollbar-thumb) transparent;
}

html {
  scroll-behavior: smooth;
}
body.dark{
  --background-color: hsl(240 10% 3.90%);
  --text-dark: #fff;
  --border-dark: #fff;
}
body.dark .sm {
  filter: invert(1) /* tweaks white/black icons */
}

body {
  /* font-family: "Public Sans", sans-serif; */
  font-family: Space Grotesk, Space Grotesk Fallback;
  font-weight: 300;
  background-color: var(--background-color);
  color: var(--text-dark);
  opacity: 0.9;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* transition: background 0.3s, color 0.3s; */
}



a {
  text-decoration: none;
    color: inherit;   
  transition: color 0.3s ease;
}

.nv-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sm{
  height: 1.1rem;
  width: 1.1rem;
}
.pd-left-1{
  margin-right: 0.7rem;
}

.current-page{
  font-weight: 650;
  color: var(--text-dark);
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.navbar {
  height: 4rem;
  background-color: var(--background-color);
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.285);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-container {
  margin-inline: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 145px;
  gap: 2px;
}

.logo-brand {
  width: 32px;
  height: 32px;
}
.navbar-links{
  margin-left: 20px;
}

.navbar-links li {
  list-style: none;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 450;
}

.navbar-collapsable {
  display: flex;
}

.links-md {
  gap: 1rem;
  cursor: pointer;
}

.divider {
  color: var(--border-lightgray);
}

.bold {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 600;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 85px);
}

.hero-buttons {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.hero-content-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.hero-content-left-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.hero-title {
  font-size: calc(1.8rem * 1.168);
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.hero-description {
  font-size: calc(2.8rem * 1.168);
  color: var(--text-dark);
  margin-bottom: 1.5rem;
  text-align: start;
  font-weight: 600;
}

.hero-tagline {
  text-align: start;
  font-size: 14px;
  width: 90%;
}

.hero-content-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-content-right spline-viewer {
  height: calc(100% + 150px);
}

.typewriter-container {
  font-family: monospace;
  font-size: calc(2.8rem / 1.688);
  color: var(--primary);
  display: inline-block;
  position: relative;
}

.title-static {
  position: relative;
  left: 200px;
}

#typewriter {
  display: inline-block;
  white-space: nowrap;
}

.cursor {
  position: absolute;
  right: -15px;
  top: 0;
  animation: blink 0.7s steps(1) infinite;
  font-weight: bold;
  color: var(--text-dark);
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.btn-primary-x {
  background: radial-gradient(circle 80px at 80% -10%, #fa800d, var(--primary));
  color: #fff;
  margin-top: 28px;
  width: 220px;
  height: 50px;
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.btn-primary-x:hover {
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--border-dark);
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.doc-wrapper{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3%;
  padding-inline: 2rem;
}
.navigation-wrapper{
  width: 30%;
  height: 100vh;
  background-color: #fa800d;
}
.content-wrapper{
  width: 70%;
  height: 100vh;
  background-color: #fa800d;
}