@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

:root {
  --primary: #ff5419;
  --background-dark: #121212;
  --background-color: #fff;
  --background-light: #f1f1f1;
  --text-light: #414141;
  --text-dark: #303030;
  --text-black: #000;
  --border-lightgray: #e1e1e1;
  --border: 0 0% 92.20%;
  --border-light: #444;
  --border-dark: #222;
  --transparent: transparent;
  --scrollbar-thumb: #9b9b9b;
  --hero-color: #000;
  --border-main: hsla(0, 0%, 50%, 0.285);
  --overlay: rgba(0, 0, 0, 0.5);
  /* --animation-duration: 10s; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scroll-snap-type: proximity;
  border-color: hsl(var(--border));
  scrollbar-color: var(--scrollbar-thumb) transparent;
  -webkit-tap-highlight-color: transparent;

}

html {
  scroll-behavior: smooth;
}

html.dark body {
  --background-color: hsl(240 10% 3.90%);
  --text-dark: #fff;
  --border-dark: #fff;
  --text-light: #aeaeae;
  --hero-color: #fff
}

html.dark .sm,
html.dark .sm-1 , html.dark .sm-2 {
  filter: invert(1)
}

body {
  font-family: Space Grotesk, Space Grotesk Fallback;
  font-weight: 300;
  background-color: var(--background-color);
  color: var(--text-dark);
  opacity: 0.9;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

b {
  font-weight: 500;

}

.nv-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm {
  height: 1.1rem;
  width: 1.1rem;
}

.sm-1 {
  width: 1rem;
  height: 1rem;
}
.mr-btm-0 {
  margin-bottom: 0.7rem;
}
.mr-btm-1{
  margin-bottom: 1rem;
}

.mr-left-1 {
  margin-right: 0.7rem;
}
.mr-left-20p{
  margin-left: 20px;
}
.mr-inline-2{
  margin-inline: 2rem;
}

.pd-top-2 {
  padding-top: 2rem;
}

.pd-top-3 {
  padding-top: 3rem;
}

.pd-top-4 {
  padding-top: 4rem;
}

.pd-inline-1 {
  padding-inline: 1rem;
}
.pd-inline-2 {
  padding-inline: 2rem;
}
.height-auto {
  height: auto
}
.pd-small{
  padding: 0.25rem;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}
.flex-space-around{
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-flex-end {
  align-items: flex-end
}

.align-center {
  align-items: center;
}
.align-content{
  align-content: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-evenly {
  justify-content: space-evenly;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

.border-b {
  border-bottom: 1px solid var(--border-main)
}

.border-t {
  border-top: 1px solid var(--border-main)
}

.top-0 {
  top: 0
}
.left-0{
  left: 0;
}
.right-0{
  right: 0;
}
.bottom-0{
  bottom: 0;
}
.gap-0 {
  gap: 0.7rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}
.gap-2p{
  gap: 2px;
}
.gap-25p{
  gap: 25px;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-full {
  width: 100%;
}
.w-100vw{
  width: 100vw;
}
.w-auto{
  width: auto;
}
.h-100vh{
  height: 100vh;
}
.h-auto{
  height: auto;
}
.h-1 {
  height: 1rem;
}

.h-2 {
  height: 2rem;
}

.h-3 {
  height: 3rem;
}

.h-4 {
  height: 4rem;
}

.h-5 {
  height: 5rem;
}
.overflow-hidden{
  overflow: hidden;
}
.bg-main {
  background-color: var(--background-color);
}
.z-1000 {
  z-index: 0;
}
.z-1050{
  z-index: 1150;
}
.font-size-3 {
  font-size: .87rem;
  line-height: 1.25rem;
  letter-spacing: 1px;
}

.font-semibold {
  font-weight: 400;
}

.pd-inline{
  padding-inline: .5rem;
}

.nav-list-col {
  color: var(--text-light)
}

.current-page {
  font-weight: 650;
  color: var(--text-dark);
}

.menu-selected {
  color: var(--text-dark);
}
.font-small{
  font-size: small;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.btn-menu {
  display: none;
}

.logo-brand {
  width: 32px;
  height: 32px;
}

.navbar-links {
  margin-left: 20px;
}

.navbar-links li {
  list-style: none;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.navbar-collapsable {
  display: flex;
}

.links-md {
  gap: 1rem;
  cursor: pointer;
}

.divider {
  color: var(--border-lightgray);
}

.bold {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 600;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 85px);
}

.hero-buttons {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.hero-mobile {
  display: none;
  height: 400px;
  padding: 20px;
}

.hero-mobile img {
  width: 180px;
}

.hero-content-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.hero-content-left-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.hero-title {
  font-size: clamp(2.1rem, 4vw, 2rem);
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.hero-description {
  font-size: clamp(2rem, 4vw, calc(2.8rem * 1.168));
  color: var(--text-dark);
  margin-bottom: 1.5rem;
  text-align: start;
  font-weight: 600;
}

.hero-tagline {
  text-align: start;
  font-size: clamp(1rem, 4vw, 14px);
  width: 90%;
}

.hero-content-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-content-right spline-viewer {
  height: calc(100% + 150px);
}

.typewriter-container {
  font-family: monospace;
  font-size: clamp(1rem, 4vw, calc(1.5rem * 1.168));
  color: var(--primary);
  display: inline-block;
  position: relative;
}

.title-static {
  position: relative;
  left: 200px;
}

#typewriter {
  display: inline-block;
  white-space: nowrap;
}

.cursor {
  position: absolute;
  right: -15px;
  top: 0;
  animation: blink 0.7s steps(1) infinite;
  font-weight: bold;
  color: var(--text-dark);
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.btn-primary-x {
  background: radial-gradient(circle 80px at 80% -10%, #fa800d, var(--primary));
  color: #fff;
  margin-top: 28px;
  width: 220px;
  height: 50px;
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.btn-primary-x:hover {
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--border-dark);
}
.int-icon{
  flex-shrink: 0;
  width: 32px;
  object-fit: contain;
  display: block;
  margin: 0;
  padding: 0;
}
.scroller{
  padding: 1rem;
  max-width: 725px;
  overflow: hidden;
}

.scroller-inner{
  padding-block: 1rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  position: absolute;
  white-space: nowrap;
  left: 100%;
}

.scroller[data-animated ="true"]{
  flex-wrap: nowrap;
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, var(--background-color) 35%, var(--background-color) 80%, transparent);
  -webkit-mask: linear-gradient(90deg, transparent, var(--background-color) 30%, var(--background-color) 80%, transparent);
}
.scroller[data-animated ="true"] .scroller-inner{
  flex-wrap: nowrap;
  animation: scroller 30s linear infinite;
  width: max-content;
}
.scroller[data-animated ="true"] .secondary{
  animation: scroller 30s linear infinite;
  animation-delay: 15s;
}
@keyframes scroller {
  0%{
    left: 100%;
  }
  100%{
    left: -100%;
  }
  
}
@keyframes scroll {
  to{
    transform: translateX(calc(-100% - 0.5rem));
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.doc-wrapper {
  width: 100%;
  height: auto;
  margin-top: 3%;
}

.navigation-wrapper {
  width: 25%;
  height: 100vh;
  order: 1;
  /* background-color: #ff5419; */
}

.content-wrapper {
  width: 70%;
  height: 100vh;
  order: 2;
}

.btn-collapsable {
  width: 100%;
  color: var(--text-dark);
}

.height-toggle[data-state="expanded"] {
  height: 100%;
}

.height-toggle[data-state="collapsed"] {
  height: 0;
  overflow: hidden;
}

.navbar-links[data-state="open"] {
  visibility: visible;
  transition-delay: 0s;
  animation: toggleIn 0.3s forwards ease-in-out;

}

.navbar-overlay[data-state="open"] {
  margin-top: 4rem;
  opacity: 1;
  visibility: visible;
}

@keyframes toggleIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toggleOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@media (max-width: 768px){
  .scroller[data-animated ="true"] .scroller-inner{
  animation: none;
  width: 80%;
  transform: translate(-100%);
}
.scroller[data-animated ="true"] .secondary{
  display: none;
  animation: none;
}
}

@media (max-width: 530px) {
  .navbar-links[data-state="closed"] {
    animation: toggleOut 0.3s forwards ease-in-out;
  }

  .navbar-links {
    margin-top: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    border-right: .5px solid #7575757e;
    height: 100vh;
    width: 80%;
    background-color: var(--background-color);
    flex-direction: column;
    padding: 1rem;
    z-index: 1050;
    opacity: 0;
    transform: translateX(-100%);
    visibility: hidden;
    transition: visibility 0s linear 0.2s;
  }
.bg-overlay{
  background-color: var(--overlay);
}
.opacity-0{
  opacity: 0;
}
.visibility-hidden{
  visibility: hidden;
}
.tx-main{
  transition: opacity 0.3s ease-in-out;
}
  .nv-flex {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    padding-left: 1rem;
  }

  .navigation-wrapper {
    position: absolute;
    z-index: 1050;
    left: 0;
    /* top: 40%; */
    width: 98%;
    padding-left: calc(.5rem + 1em);
    padding-top: 2rem;
    overflow-y: auto;
  }

  .logo-brand {
    width: 24px;
    height: 24px;
  }

  .bold {
    font-size: 14px;
  }

  .btn-menu {
    display: block;
    /* z-index: 1100; */
  }

  .hero-content-right {
    display: none;
  }

  .hero-content-left {
    width: 100%;
    text-align: center;
    align-items: flex-start;
    padding: 0;
    padding-inline: 25px;
  }

  .hero-content-left-wrapper {
    padding: 0;
    align-items: flex-start
  }

  .hero-title {
    margin-bottom: 0;
  }

  .hero-mobile {
    display: flex;
    margin-top: 1rem;
  }

  .hero-buttons {
    align-items: flex-start !important;
  }

  .hero-tagline {
    text-align: flex-start;
  }

  .hero-description {
    text-align: flex-start;
  }

  .pd-top-4 {
    padding-top: 5rem;
  }
  .navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1049;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}
}